.header {
  max-width: 100%;
  border-bottom: 4px solid #e4e4e4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  &__cart {
    cursor: pointer;
    &__amount {
      width: 10px;
      height: 10px;
      background: red;
    }
  }
}
