.button {
  color: white;
  background-color: black;
  padding: 12px 40px;
  line-height: var(--line-height-m);
  font-size: var(--font-size-subheading);
  text-transform: uppercase;
  cursor: pointer;
}
